
.container {
    text-align: center;
}

.inner {
    width: 70vw;
    min-height: 80vh;
    margin: 0 auto;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.inner .item {
    display: inline-block;
    margin: 0;
    width: 25%;
    height: 20vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.color1 { background-color: tomato;}
.color2 { background-color: cornflowerblue;}
.color3 { background-color: mediumseagreen;}
.color4 { background-color: slateblue;}

.color5 { background-color: #fad390;}
.color6 { background-color: #60a3bc;}
.color7 { background-color: #eb2f06;}
.color8 { background-color: #0c2461;}

.color8 { background-color: rgb(255, 227, 169);}
.color10 { background-color: rgb(100, 111, 212);}
.color11 { background-color: rgba(31, 61, 255, 0.36);}
.color12 { background-color: rgba(255, 8, 0, 0.81);}

.color13 { background-color: hsl(176, 100%, 56%);}
.color14 { background-color: hsl(318, 100%, 57%);}
.color15 { background-color: hsla(50, 100%, 50%, 0.38);}
.color16 { background-color: hsla(129, 100%, 50%, 0.17);}