
* { margin: 0; padding: 0; }

#wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(36,0,32,1) 0%, rgba(71,9,121,0.8127626050420168) 35%, rgba(4,197,146,1) 72%, rgba(0,255,192,0.8799894957983193) 100%);

    /* 애니메이션 */
    animation-name: ball;                /* 애니메이션 이름 */
    animation-duration: 3s;              /* 재생시간 */
    animation-timing-function: linear;   /* 타이밍 함수 - 일정하게 */
    animation-iteration-count: infinite; /* 반복 횟수 */
}

#wrap h1 { line-height: 200px; color: white; text-align: center; }


/* 애니메이션의 변경지점을 지정하는 속성 */
@keyframes ball {
    /* 시작위치 - from or 0% */
    0% {
        left: 0;
        transform: rotate(0deg)
    }

    25% {
        left: 250px;
        transform: rotate(180deg);
    }

    50% {
        left: 500px;
        transform: rotate(360deg);
    }
    
    75% {
        left: 250px;
        transform: rotate(180deg);
    }
    
    100% {
        left: 0;
        transform: rotate(0deg)
    }
}