
.container {
    width: 700px;
    height: 600px;
    margin: 0 auto; 
    border: 1px dashed orange;
}

.tab-box {
    padding-bottom: 40px;
    width: 600px;
    background-color: white;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* 탭 (label) */
.tab-item {
    display: block;
    width: calc(100% / 3);
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #333;
    float: left;        /* 가로 배치 */
    text-align: center;
    font-weight: bold;
    background-color: #f8f8f8;
}

/* 라디오 버튼 숨김 */
.tab { display: none; }

.tab-item:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

/* 
    라디오 버튼이 선택된 상태일 때, 
    바로 뒤의 인접한 label 선택 
*/
.tab-box .tab:checked + label {
    background-color: #333;
    color: white;
}

/* 탭 내용영역 */
.tab-content {
    padding: 40px;
    text-align: center;
    overflow: hidden;
    clear: both;
    display: none;
}

/* 
    tab1 (label 1번) 을 클릭
    → 연결된 radio 버튼이 선택 (:checked)
    → 형제자매요소인, 1번 내용영역을 출력
*/

#tab1:checked ~ #tab1-content,
#tab2:checked ~ #tab2-content,
#tab3:checked ~ #tab3-content
{
    display: block;
}
